* {
  box-sizing: border-box;
}

.conteudo {
  display: none;
}

@media (min-width: 320px) and (max-width: 680px) {
  body {
    background-color: #e5e5e5;
  }
  .conteudo {
    display: inherit;
  }
  .topo {
    background-color: #cf2b2b;
    color: #fff;
    height: 92px;
    padding: 8px 21px;
    box-shadow: 1px 2px 4px 3px rgba(0, 0, 0, 25%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .topo h1 {
    font-family: "Righteous", system-ui;
    font-size: 44px;
    margin-bottom: 5px;
  }
  .top p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  .conteudo {
    margin: 120px 0px;
  }

  .conteudoTitulo {
    font-family: "Righteous", system-ui;
    font-size: 26px;
    padding-left: 18px;
    color: #333333;
  }
  .conteudoPrato {
    display: flex;
    overflow-x: scroll;
    margin: 7px;
  }
  .conteudoPrato h3 {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    margin: 0;
    width: 137px;
  }
  .cardPrato {
    padding: 15px;
    width: 172px;
    height: 210px;
    background-color: #fff;
    margin: 7px;
    border-radius: 9px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    border: #fff solid 3px;
  }
  .cardPrato img {
    width: 144px;
    height: 87px;
  }
  .descricao {
    color: #a6a6a6;
    font-size: 15px;
    margin: 9px 0px;
  }
  .preco {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
  }
  .botaoPedido {
    height: 92px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .textoPedido {
    background-color: #cbcbcb;
    height: 60px;
    width: 95%;
    padding: 0px 64px;
    border-radius: 50px;
    letter-spacing: 0.5px;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #fff;
  }
  .selecionado {
    border: 3px solid #32b72f;
  }
  .ativado {
    background-color: #32b72f;
    color: #fff;
  }
  .telaConfirmacao {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 1;
  }
  .confirmarPedido {
    background-color: #50d074;
    width: 90%;
    height: 353px;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .confirmarPedido h3 {
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    padding: 8px 0px;
  }
  .totalPedido {
    font-weight: bold;
  }
  .confirmarPedido a h3 {
    background-color: #fff;
    color: #50d074;
    font-size: 22px;
    font-weight: bold;
    padding: 12px;
    border-radius: 100px;
    margin-top: 30px;
  }
  .cancelarPedido {
    font-size: 20px;
    border: none;
    height: 50px;
    background-color: #50d074;
    color: #fff;
    margin-top: 10px;
  }
  .escondido {
    display: none;
  }
}
